* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 550;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    display: grid;
    grid-template-areas: 
    'display display display display'
    'seven eight nine add'
    'four five six subtract'
    'one two three multiply'
    'zero divide clear equal';
    min-height: 50vh;
    width: 50vh;
    padding: 10px;
    border-radius: 10px;
    background: #EEf4f9;
    gap: 5px;
}

.operation,
.cal-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 15vh;
    width: 100%;
    font-size: 90px;
    font-weight: 100;
}

.equalBtn {
    background: red;
}

.btn {
    height: 100%;
    width: 100%;
}
